a:hover{
    cursor: default;
}
h1:hover{
    cursor: default;
}
.notes{
    alt: "//background-color: #5F6E7B";
    alt: "//border: 5px solid #00315B";
}
.dark_mode{
    background-color: #00315B;
    background-image: url('https://www.pngkit.com/png/full/24-240879_overlay-transparent-hexagon-hex.png');
}
.light_mode{
    background-color: #A9D7FF;
    background-image: url('https://www.pngkit.com/png/full/24-240879_overlay-transparent-hexagon-hex.png');
}
.center_text{
    text-align: center;
    margin: auto;
    align-self: auto;
}
.top_line{
    text-align: center;
}
.top_line_button{
    border: outset 10px #818181;
    background-color: #818181;
    font-size: 30px;
    transition: all .3s;
    font-family: "Lucida Console", "Courier New", monospace;
    cursor: pointer;
}
.top_line_button:hover{
    background-color: #757575;
    border: outset 10px #757575;
}
.top_line_button:active{
    border: inset 10px #5e5e5e;
    background-color: #5e5e5e;
}
.footer{
    position: relative;
    bottom: 0px;
    background-color: black;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    border-radius: 8px;
}
.footer_text{
    color: white;
}
.txt_container{
    background-color: #757575;
    text-align: center;
    border-radius: 8px;
    border: ridge 10px;
    font-family: "Lucida Console", "Courier New", monospace;
    margin: auto;
    width: 800px;
}
.welkome_text{
    font-size: 100px;
    text-align: center;
    text-shadow: 2px 2px #3d3d3d;
    font-family: "Lucida Console", "Courier New", monospace;
}
.secret_button{
    position: fixed;
    right: 3px;
    top: 3px;
    border: none;
    background-color: transparent;
}
.overmij_text{
    position: relative;
    font-size: 100px;
    text-align: center;
    text-shadow: 2px 2px #3d3d3d;
    font-family: "Lucida Console", "Courier New", monospace;
}
.main_text{
    position: relative;
    font-size: 20px;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    width: 800px;
}
.main_text_blue{
    position: relative;
    font-size: 20px;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    color: blue;
}

@keyframes fadeIn{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.secret_door{
    position: fixed; right: 1px;
    bottom: 1px; width: 50px;
    height: 54px;
    animation-name: fadeIn;
    animation-duration: 3s;
}

.rainbow_mode {
    background-color: red;
    animation-name: rainbow;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes rainbow{
    0% {
        background-color: rgb(255, 0, 0);
    }
    14% {
        background-color: yellow;
    }
    28% {
        background-color: rgb(0, 255, 0);
    }
    43% {
        background-color: rgb(0, 255, 255);
    }
    57% {
        background-color: rgb(0, 68, 255);
    }
    71% {
        background-color: rgb(157, 10, 255);
    }
    85% {
        background-color: rgb(255, 10, 112);
    }
    100% {
        background-color: rgb(255, 0, 0);
    }
}